<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215579898202-otcmigde5l2f12jogr39g10d1haa8f09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215579898202-otcmigde5l2f12jogr39g10d1haa8f09</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215579898202-8kqgqcqn8peijjhh0qk9mossihr3lrvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWjF4CG7ieCMDMG8rx1yPxSg8ll-GQj5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>215579898202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.streamitlaravel</string>
	<key>PROJECT_ID</key>
	<string>streamit-laravel-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>streamit-laravel-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215579898202:ios:817645a0fa6e94f2e24363</string>
	<key>DATABASE_URL</key>
	<string>https://streamit-laravel-flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>